---
import { getCollection, type CollectionEntry } from "astro:content";

import ArrowCard from "@components/ArrowCard.astro";
import Container from "@components/Container.astro";
import { BLOG } from "@consts";
import { aria } from "@i18n/en";
import PageLayout from "@layouts/PageLayout.astro";
import { Rss } from "@lucide/astro";

const allPosts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort(
    (first, second) => second.data.date.valueOf() - first.data.date.valueOf(),
  );

type PostsByYear = {
  [year: string]: CollectionEntry<"blog">[];
};

const postsByYear = allPosts.reduce((grouped: PostsByYear, post) => {
  const year = post.data.date.getFullYear().toString();
  if (!grouped[year]) {
    grouped[year] = [];
  }
  grouped[year].push(post);
  return grouped;
}, {});

const years = Object.keys(postsByYear).sort(
  (first, second) => parseInt(second) - parseInt(first),
);
---

<PageLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <Container>
    <div class="flex items-center justify-between">
      <h1 class="sr-only">{BLOG.TITLE}</h1>
      <a
        href="/rss.xml"
        target="_blank"
        rel="noopener noreferrer"
        aria-label={aria.rssFeed}
        class="animate ml-auto opacity-40 hover:opacity-100 hover:text-light-accent dark:hover:text-dark-accent transition-all duration-300"
      >
        <Rss size={16} aria-hidden="true" />
      </a>
    </div>
    <div class="space-y-10">
      <div class="space-y-4">
        {
          years.map((year) => (
            <section class="animate space-y-4">
              <div class="font-semibold text-light-fg dark:text-dark-fg">
                {year}
              </div>
              <div>
                <ul class="flex flex-col gap-4">
                  {postsByYear[year].map((post, index) => (
                    <li>
                      <ArrowCard entry={post} index={index} />
                    </li>
                  ))}
                </ul>
              </div>
            </section>
          ))
        }
      </div>
    </div>
  </Container>
</PageLayout>
