---
import { Icon } from "astro-icon/components";

import { LUCIDE_ICONS, THEME_COLOR_CLASSES } from "@lib/icons";
import type { ThemeColor } from "@types";

interface Props {
  icon: string;
  iconColor: string;
  size?: number;
}

const { icon, iconColor, size = 28 } = Astro.props;

const isSimpleIcon = icon.startsWith("simple-icons:");
const LucideIcon = !isSimpleIcon ? LUCIDE_ICONS[icon] : null;

const isThemeColor = iconColor in THEME_COLOR_CLASSES;
const themeClass = isThemeColor
  ? THEME_COLOR_CLASSES[iconColor as ThemeColor]
  : "";
const inlineStyle = !isThemeColor ? `color: ${iconColor}` : undefined;

const simpleIconSize = `${size / 16}rem`;
---

<span class:list={[themeClass]} style={inlineStyle} aria-hidden="true">
  {
    isSimpleIcon ? (
      <Icon
        name={icon}
        style={`width: ${simpleIconSize}; height: ${simpleIconSize}`}
      />
    ) : LucideIcon ? (
      <LucideIcon size={size} />
    ) : null
  }
</span>
