---
import type { GetStaticPathsResult } from "astro";
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { readingTime } from "@lib/utils";
import BackToPrev from "@components/BackToPrev.astro";
import Link from "@components/Link.astro";
import Lightbox from "@components/Lightbox.astro";
import ProjectIcon from "@components/ProjectIcon.astro";

export async function getStaticPaths(): Promise<GetStaticPathsResult> {
  const projects = (await getCollection("projects"))
    .filter((project) => !project.data.draft && project.data.featured)
    .sort((first, second) => first.data.sortOrder - second.data.sortOrder);
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: project,
  }));
}
type Props = CollectionEntry<"projects">;

const project = Astro.props;
const { Content } = await project.render();
---

<PageLayout title={project.data.title} description={project.data.description}>
  <Container>
    <div class="animate">
      <BackToPrev href="/projects"> Back to projects </BackToPrev>
    </div>
    <div class="space-y-1 my-10">
      <div class="animate font-base text-sm">
        {readingTime(project.body)}
      </div>
      <h1
        class="animate flex items-center gap-2.5 text-2xl font-mono font-semibold text-light-fg dark:text-dark-fg"
      >
        <ProjectIcon
          icon={project.data.icon}
          iconColor={project.data.iconColor}
          size={24}
        />
        {project.data.title}
      </h1>
      {
        (project.data.demoURL || project.data.repoURL) && (
          <nav class="animate flex gap-1">
            {project.data.demoURL && (
              <Link href={project.data.demoURL} external>
                demo
              </Link>
            )}
            {project.data.demoURL && project.data.repoURL && <span>/</span>}
            {project.data.repoURL && (
              <Link href={project.data.repoURL} external>
                source
              </Link>
            )}
          </nav>
        )
      }
    </div>
    <article class="animate">
      <Content />
    </article>
    <Lightbox />
  </Container>
</PageLayout>
